<div class="page type-page status-publish hentry">
                            <div class="row-fluid " style="min-height: 799px;">
                                <div id="content_wrap" class="">
                                    <div class="content-wrap-inn bottom-space ">
                                        <div class="container">
                                            <div class="title-bar-wrap title-centered" id="title-bar">
                                                <div id="title-wrap">
                                                    <div class="title-wrap-inn">
                                                        <div id="main-title">
                                                            <h1 class="main-title"> CLIENTS</h1>
                                                        </div>
                                                    </div>
                                                </div><!--End #title-wrap-->
                                            </div><!--End #title-bar-wrap"-->
                                        </div>
                                        <div class="pagebuilder-wrap">
                                            <div class="container bottom-space-80 ">
                                                <div class="row-fluid">
                                                    <div class="span4 moudle bottom-space-80 ">
                                                        <div data-post="20140404-035001-250-15"
                                                            class="text_block withbg bg-theme-color-1">
                                                            <p>
                                                                <span class="dropcap">W</span>hether you’re a start up, existing ecommerce or moving into the social realm, Two Guruz tailors their skills to your needs.
                                                            </p>
                                                            <br>
                                                            <p>
                                                                How we tailor our plans to suit your brand? 
                                                            </p>
                                                            <br>
                                                            <div class="text-center">
                                                                <a href="#commongoals" target="_self" class="ux-btn bg-theme-color-1 btn-light">MORE</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="span4 moudle bottom-space-80 ">
                                                        <div data-post="20140404-035001-976-17"
                                                            class="text_block withbg bg-theme-color-4">
                                                            <p>
                                                                <span class="dropcap">T</span>wo Guruz also offers a twist
                                                            </p>
                                                            <br>
                                                            <p>
                                                                Once the nitty gritty is up to scratch, we have a ‘Pairing System’ with creatives from around the world.
                                                            </p>
                                                            <!-- <p>
                                                                <span class="dropcap">W</span>e like to get to know your brand and establish sustainable systems that help you get what you want. 
                                                            </p> -->
                                                            <br>
                                                            <div class="text-center">
                                                                <a href="#availability" target="_self" class="ux-btn bg-theme-color-4 btn-light">MORE</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="span4 moudle bottom-space-80 ">
                                                        <div data-post="20140404-035001-664-18"
                                                            class="text_block withbg bg-theme-color-7">
                                                            
                                                            <p>
                                                                <span class="dropcap">T</span>wo Guruz offers a free evaluation to establish starting points, ensuring everyone is on the same page. We then work out what needs to be done for you and how we're going to do it.
                                                            </p>
                                                            <br>
                                                            <p>
                                                                Within the timeframe you are informed step by step of the progress with weekly reports.
                                                            </p>
                                                            <div class="text-center">
                                                                <a href="#tools" target="_self" class="ux-btn bg-theme-color-7 btn-light">MORE</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container" id="availability">
                                                <div class="row-fluid">
                                                    <div class="span12 moudle">
                                                        <h3>AVAILABILITY</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="row-fluid">
                                                    
                                                    <div class="span10 moudle">
                                                        <p>
                                                            <span class="dropcap">W</span>hether you’re after a one off campaign, original content, scheduling, or full management please <a href="#contactus" target="_self"><b>contact us</b></a>. 
                                                        </p>
                                                        <br>
                                                        <p>
                                                            Like a first date we can test the waters and see what Two Guruz can do for you!
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container" id="commongoals">
                                                <div class="row-fluid">
                                                    <div class="span12 moudle">
                                                        <h3>COMMON GOALS</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="row-fluid">
                                                    <div class="span10 moudle">
                                                        <p>
                                                            <span class="dropcap">G</span>rowth across all platforms, sustainable systems, realistic implementation and accurate brand representation with a strong delivery.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container" id="tools">
                                                <div class="row-fluid">
                                                    <div class="span12 moudle bottom-space-20 ">
                                                        <h3>TOOLS</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="row-fluid">
                                                    <div class="span6 moudle">
                                                            <p><span class="dropcap">T</span>o increase brand awareness and drive traffic to your site we'll be using :</p>
                                                    </div>
                                                    <!-- <div class="span6 moudle">
                                                            <p>Google Analytics, Google Ad words, SEOs, Facebook Ads Manager, Facebook Power Editor, Shopify, Instagram Ads, Instagram, Youtube, Polyvore, Pinterest, Twitter, Facebook , Snapchat</p>
                                                    </div> -->
                                                </div>
                                            </div>
                                            <div class="container" ng-controller="MainCtrl">
                                                <div class="moudle bottom-space-80">
                                                    <data-owl-carousel class="owl-carousel" data-options="{navigation: false, pagination: true, rewindNav : false}">
                                                      <div owl-carousel-item="" ng-repeat="item in ::items1" class="item">
                                                        <img src="{{::item}}" class="img-responsive" style="max-height:56px">
                                                      </div>
                                                    </data-owl-carousel>
                                                </div>
                                            </div>
                                            <div class="container" id="contactus">
                                                <div class="row-fluid">
                                                    <div class="span12 moudle">
                                                        <div class="promote-wrap promote-wrap-2c">
                                                            <div class="promote-text" style="margin-right: 155px;">
                                                                <h4 class="promote-big">CONTACT US</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="row-fluid">
                                                    <div class="span12 moudle">
                                                        <div class="contactform">
                                                            <a name="20140404-044450-491" class="20140404-044450-491"></a>
                                                            <form action="contact.php" id="contact-form" class="contact_form"
                                                                method="POST">
                                                                <p>
                                                                    <input type="text" id="idi_name" name="idi_name"
                                                                        class="requiredField" value="YOUR NAME"
                                                                        onblur="if (this.value =='' ) {this.value = 'YOUR NAME';}"
                                                                        onfocus="if (this.value == 'YOUR NAME' || this.value == 'Required' ) { this.value = ''; }">
                                                                </p>
                                                                <p>
                                                                    <input type="text" id="idi_mail" name="idi_name"
                                                                        class="requiredField email" value="YOUR EMAIL"
                                                                        onblur="if (this.value =='' ) {this.value = 'YOUR EMAIL';}"
                                                                        onfocus="if (this.value == 'YOUR EMAIL' || this.value  == 'Required' || this.value == 'Invalid email' ) {this.value = '';}">
                                                                </p>
                                                                <p>
                                                                    <textarea rows="4" name="idi_text" id="idi_text" cols="4"
                                                                        class="requiredField inputError"
                                                                        onfocus="if(this.value==this.defaultValue|| this.value  == 'Required'){this.value='';}"
                                                                        onblur="if(this.value==''){this.value=this.defaultValue;}">YOUR QUESTIONS</textarea>
                                                                </p>
                                                                <input type="hidden" class="info-tip" value="send"
                                                                    name="contact_form" data-message="Sent!"
                                                                    data-sending="Sending"
                                                                    data-error="Please Enter Correct Verification Number">
                                                                <div class="btnarea">
                                                                    <input type="submit" id="idi_send" name="idi_send"
                                                                        value="SEND">
                                                                </div>
                                                            </form>
                                                        </div><!-- end of contactform -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--End content-wrap-inn-->
                                </div><!--end content_wrap-->

                            </div>
                        </div>
                        <!--end post-->

                        <link rel="stylesheet" id="pagebuild-css" href="assets/styles/pagebuild.css" type="text/css" media="screen">
                        <script>
                            jQuery(document).ready(function(){
                                var ux_pb = new ThemePageBuilder();
                                ux_pb.init();
                            });

                            //smoothScroll
                            $(function() {
                              $('a[href*="#"]:not([href="#"])').click(function() {
                                if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                                  var target = $(this.hash);
                                  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                                  if (target.length) {
                                    $('html, body').animate({
                                      scrollTop: target.offset().top
                                    }, 1000);
                                    return false;
                                  }
                                }
                              });
                            });
                        </script>

        
                        

        
