<div id="post-119" class="page type-page status-publish hentry">
                            <div class="row-fluid " style="min-height: 799px;">
                                <div id="content_wrap" class="">
                                    <div class="content-wrap-inn bottom-space ">
                                        <div class="container">
                                            <div class="title-bar-wrap title-centered" id="title-bar">
                                                <div id="title-wrap">
                                                    <div class="title-wrap-inn">
                                                        <div id="main-title">
                                                            <h1 class="main-title"> CLIENTS</h1>
                                                        </div>
                                                    </div>
                                                </div><!--End #title-wrap-->
                                            </div><!--End #title-bar-wrap"-->
                                        </div>
                                        <div class="pagebuilder-wrap">
                                            <div class="container">
                                                <div class="row-fluid">
                                                    <div class="span12 moudle">
                                                            <h3>SERVICES</h3>
                                                    </div>
                                                    <div class="col-lg-4 moudle">
                                                        <p>
                                                            <span class="dropcap">W</span>hether you’re a start up, existing ecommerce or moving into the social realm, Two Guruz tailors their skills to your needs.
                                                        </p>
                                                        <br>
                                                        <p>
                                                            If you’re coming to us you’re doing something right in the sense that you have a product or service that you believe is offering value to your customers. With that being said all your time and effort is put into being ‘Guru’ at what you do. Moving into, maintaining and keeping up to date online is an art in itself! We should know… that is why whatever stage you’re at – needing a little advice, setting up systems for your staff to implement or a full blown online marketing makeover, we work for you. You’re Guru One we are Guru Two.
                                                        </p>                                                        
                                                    </div>
                                                    <div class="col-lg-4 moudle">
                                                        <p>
                                                            <span class="dropcap">T</span>wo Guruz also offers a twist - once the nitty gritty is up to scratch, we have a ‘Pairing System’ with creatives from around the world.
                                                        </p>
                                                        <br>
                                                        <p>
                                                            Creating more daring and original content for your brand that is relevant, artistic and suitable to your custom audiences.
                                                        </p>
                                                    </div>
                                                    <div class="col-lg-4 moudle">
                                                        <p>
                                                            <span class="dropcap">W</span>e support creatives; graphic designers, stylists, photographers, makeup artists, illustrators and more, who are producing great work with passion and ambition.  Two Guruz wants to provide a bridge giving emerging creatives opportunities to collaborate with brands we’ve set up for marketing, with the guidance of our Creative Director.  Once the fundamentals are in place the fun begins! Check out our blog for some of the campaigns we’ve produced.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row-fluid">
                                                    <div class="col-lg-6 moudle">
                                                        <p>
                                                            Want to be a part of our creative team? Submissions click here
                                                        </p>
                                                    </div>
                                                    <div class="col-lg-6 moudle">
                                                        <p>
                                                            Clients enquiring about our unique online marketing for their brand click here
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="row-fluid">
                                                    <div class="span12 moudle">
                                                            <h3>AVAILABILITY</h3>
                                                    </div>
                                                    <div class="col-lg-3 moudle">
                                                        <p>
                                                            <span class="dropcap">T</span>o ensure quality time on your project, we only take on a maximum of 4 new clients a month for full management. We don’t want anyone feeling like the middle child.
                                                        </p>
                                                    </div>
                                                    <div class="col-lg-3 moudle">
                                                        <p>
                                                            We like to get to know your brand and establish sustainable systems that help you get what you want.  How we tailor plans to suit your brand?
                                                        </p>
                                                    </div>
                                                    <div class="col-lg-3 moudle">
                                                        <p>
                                                            Two Guruz starts with some housekeeping, establishing ground rules to ensure everyone’s on the same page. We then work out what needs to be done for you and how we're going to do it, so you are in formed step by step of the progress.
                                                        </p>
                                                    </div>
                                                    <div class="col-lg-3 moudle">
                                                        <p>
                                                            Whether you’re after a one off campaign, original content, scheduling, or full management please contact us. Like a first date we can test the waters and see what Two Guruz can do for you!
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="row-fluid">
                                                    <div class="span12 moudle">
                                                        <h3>COMMON GOALS</h3>
                                                    </div>
                                                    <div class="col-lg-6 moudle">
                                                        <p>
                                                            <span class="dropcap">T</span>wo Guruz grows for you!
                                                        </p>
                                                    </div>
                                                    <div class="col-lg-6 moudle">
                                                        <p>
                                                            <span class="dropcap">G</span>rowth across all platforms, sustainable systems, realistic implementation and accurate brand representation with a strong delivery.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="row-fluid">
                                                    <div class="span12 moudle bottom-space-20 ">
                                                        <div data-post="20140404-035001-930-9"
                                                            class="text_block ux-mod-nobg ">
                                                            <a name="20140404-035001-930-9" class="20140404-035001-930-9"></a>
                                                            <p></p>
                                                            <h3>TOOLS</h3>
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="row-fluid">
                                                    <div class="col-lg-6 moudle">
                                                            <p>We're gurus in some tricks of the trade you might be familiar with…</p>
                                                    </div>
                                                    <div class="col-lg-6 moudle">
                                                            <p>Google Analytics, Google Ad words, SEOs, Facebook Ads Manager, Facebook Power Editor, Shopify, Instagram Ads, Instagram, Youtube, Polyvore, Pinterest, Twitter, Facebook , Snapchat, to name drop a few</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="container">
                                                <div class="row-fluid">
                                                    <div class="span12 moudle bottom-space-60 ">
                                                        <div class="promote-wrap promote-wrap-2c">
                                                            <a name="20140425-002959-938" class="20140425-002959-938"></a>
                                                            <div class="promote-text" style="margin-right: 155px;">
                                                                <h4 class="promote-big">FEATURED BY TWO GURUZ</h4>
                                                                <p class="promote-medium">
                                                                    please click the button to learn more</p>
                                                            </div>
                                                            <div class="promote-button-wrap">
                                                                <a class="promote-button btn-dark ux-btn " title="CHECK IT!" href="#"
                                                                    pajx-click="true">CHECK IT!</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--End content-wrap-inn-->
                                </div><!--end content_wrap-->

                            </div>
                        </div>
                        <!--end post-->

                        <script type="text/javascript" src="assets/js/custom.theme.isotope.js"></script>
                        <script type="text/javascript" src="assets/js/custom.theme.js"></script>
                        <script type="text/javascript" src="assets/js/theme.pagebuilder.js"></script>
                        <script type="text/javascript">
                            jQuery(document).ready(function(){
                                var ux_pb = new ThemePageBuilder();
                                ux_pb.init();
                            });
                        </script>



        
                        

        
