<div class="page type-page status-publish has-post-thumbnail hentry">
                            <div class="row-fluid ">
                                <div id="content_wrap" class="">
                                    <div class="content-wrap-inn ">
                                        <article id="page-feaured-image-layout">
                                            <div id="page-feaured-image-entry" class="pull-right"
                                                style="height: 799px;">
                                                <div class="entry">
                                                    <div id="title-bar" class="title-bar-wrap " style="padding-bottom:40px;">
                                                        <div id="title-wrap">
                                                            <div class="title-wrap-inn">
                                                                <div id="main-title">
                                                                    <h1 class="main-title">CONTACTS</h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--End #title-wrap-->
                                                    </div>
                                                    <!--End #title-bar-->
                                                    <div class="pagebuilder-wrap">
                                                        <div class="container">
                                                            <div class="row-fluid">
                                                                <div class="span12 moudle  from-right-translate  bottom-space-no "
                                                                    style="">
                                                                    <div data-post="20140425-000642-433"
                                                                        class="text_block ux-mod-nobg ">
                                                                        <a name="20140425-000642-433" class="20140425-000642-433"></a>
                                                                        <span style="color: #444444;">0000 Broadway</span><br style="color: #444444;">
                                                                        <span style="color: #444444;">Vancouver, BC
                                                                            V6K 3V5</span><br style="color: #444444;">
                                                                        <span style="color: #444444;">Phone: +1 604-704-5279</span><br
                                                                            style="color: #444444;">
                                                                        <span style="color: #444444;">Email: contact@twoguruz.com</span>
                                                                        <a href="mailto:yasu3237@gmail.com?subject=SweetWords
&body=Please send me a copy of your new program!">Email Me</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><br>
                                                        <div class="container">
                                                            <div class="row-fluid">
                                                                <div class="span12 moudle">
                                                                    <a name="20140424-235704-639" class="20140424-235704-639"></a>
                                                                    <div class="module-map-canvas" data-add="NewYork"
                                                                        style="height: 140px; position: relative; overflow: hidden; -webkit-transform: translateZ(0px); background-color: rgb(229, 227, 223);"
                                                                        data-l="49.2496600" data-r="-123.1193400" data-zoom="10"
                                                                        data-pin="t" data-view="map" data-dismouse="f"
                                                                        data-pin-custom="" data-style="f">
                                                                    </div>
                                                                    <textarea class="form-control hidden module-map-style-code"
                                                                        rows="3"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="container">
                                                            <div class="row-fluid">
                                                                <div class="span12 moudle">
                                                                    <div class="contactform">
                                                                        <a name="20140404-044450-491" class="20140404-044450-491"></a>
                                                                        <form action="contact.php" id="contact-form" class="contact_form"
                                                                            method="POST">
                                                                            <p>
                                                                                <input type="text" id="idi_name" name="idi_name"
                                                                                    class="requiredField" value="NAME"
                                                                                    onblur="if (this.value =='' ) {this.value = 'NAME';}"
                                                                                    onfocus="if (this.value == 'NAME' || this.value == 'Required' ) { this.value = ''; }">
                                                                            </p>
                                                                            <p>
                                                                                <input type="text" id="idi_mail" name="idi_name"
                                                                                    class="requiredField email" value="EMAIL"
                                                                                    onblur="if (this.value =='' ) {this.value = 'EMAIL';}"
                                                                                    onfocus="if (this.value == 'EMAIL' || this.value  == 'Required' || this.value == 'Invalid email' ) {this.value = '';}">
                                                                            </p>
                                                                            <p>
                                                                                <textarea rows="4" name="idi_text" id="idi_text" cols="4"
                                                                                    class="requiredField inputError"
                                                                                    onfocus="if(this.value==this.defaultValue|| this.value  == 'Required'){this.value='';}"
                                                                                    onblur="if(this.value==''){this.value=this.defaultValue;}">YOUR REVIEW</textarea>
                                                                            </p>
                                                                            <input type="hidden" class="info-tip" value="send"
                                                                                name="contact_form" data-message="Sent!"
                                                                                data-sending="Sending"
                                                                                data-error="Please Enter Correct Verification Number">
                                                                            <div class="btnarea">
                                                                                <input type="submit" id="idi_send" name="idi_send"
                                                                                    value="SEND">
                                                                            </div>
                                                                        </form>
                                                                    </div><!-- end of contactform -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--End entry-->
                                            </div>
                                            <!--End page-feaured-image-entry-->
                                            <div id="featured-img-wrap"
                                                style="height: 799px; background-image: url(/img/1.jpg);">
                                                <img
                                                    src="/img/1.jpg"
                                                    alt="JOBS" class="half-page-img">
                                            </div>
                                        </article>
                                    </div>
                                    <!--End content-wrap-inn-->
                                </div>
                                <!--end content_wrap-->
                            </div>
                        </div>
                        <!--end post-->

                        <script type="text/javascript">
                            jQuery(document).ready(function(){
                                var ux_pb = new ThemePageBuilder();
                                ux_pb.init();
                            });
                        </script>