
<!-- The Gallery as inline carousel, can be positioned anywhere on the page -->
<div ng-repeat="work in workholder" ng-if="work.authorname==authorname">
    <div id="links" style="display:none;">
        <div ng-repeat="projects in work.portfolio">
            <a ng-repeat="img in projects.imgs" ng-href="{{img.src}}" title="{{projects.title}}" data-gallery="">
                <img ng-src="{{img.src}}">
            </a>
        </div>
    </div>
    <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <p class="description"></p>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
</div>

<!--<div id="links" class="links" ng-repeat="work in workholder" style="display:none;" ng-if="work.authorname==authorname">
  <div ng-repeat="projects in work.portfolio">
      <a ng-repeat="img in projects.imgs" ng-href="{{img.src}}" title="{{projects.title}}" data-gallery="">
        <img ng-src="{{img.src}}">
      </a>
  </div>
</div>
<div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>-->
<script src="/assets/js/blueimp-helper.js"></script>
<script src="/assets/js/blueimp-gallery.js"></script>
<script src="/assets/js/blueimp-gallery-fullscreen.js"></script>
<script src="/assets/js/blueimp-gallery-indicator.js"></script>
<script src="/assets/js/blueimp-gallery-video.js"></script>
<script src="/assets/js/blueimp-gallery-vimeo.js"></script>
<script src="/assets/js/blueimp-gallery-youtube.js"></script>
<script src="/assets/js/vendor/jquery.js"></script>
<script src="/assets/js/jquery.blueimp-gallery.js"></script>
<script>
$(document).ready(function() {
    blueimp.Gallery(
        document.getElementById('links').getElementsByTagName('a'),
        {
            container: '#blueimp-gallery-carousel',
            carousel: true,
            onslide: function (index, slide) {
                var unique_id = this.list[index].getAttribute('data-unique-id');
                console.log(unique_id);
            }
        }
    );
});
</script>

