<!-- <div class="row">
    <div class="col-md-8 col-md-offset-2">
        <carousel interval="myInterval">
          <slide ng-repeat="slide in slides" active="slide.active">
              <a href="{{slide.link}}">
                  <img ng-src="{{slide.image}}" style="margin:auto;">
              </a>
          </slide>
        </carousel>        
    </div>
</div> -->
<div class="page type-page status-publish hentry">
                            <div class="row-fluid">
                                <div id="content_wrap" class="">
                                    <div class="content-wrap-inn ">
                                        <div class="pagebuilder-wrap">
                                            <div class="fullwrap_moudle">
                                                <div class="row-fluid">
                                                    <div id="full" class="fullwidth-wrap bg-theme-color-10">
                                                        <div class="row-fluid">
                                                            <div class="span12 moudle bottom-space-no">
                                                                <!--Portfolio isotope-->
                                                                <div class="row-fluid">
                                                                    <!--Filter-->
                                                                    <div class="clearfix filters filter-floating filter-floating-fixed">
                                                                        <ul>
                                                                            <li class="active"><a href="#" data-filter="*">All</a></li>
                                                                            <li><a data-filter=".filter_architecture" href="#">ARCHITECTURE</a></li>
                                                                            <li><a data-filter=".filter_branding" href="#">BRANDING</a></li>
                                                                            <li><a data-filter=".filter_illustration" href="#">ILLUSTRATION</a></li>
                                                                            <li><a data-filter=".filter_photography-2" href="#">PHOTOGRAPHY</a></li>
                                                                        </ul>
                                                                        <div class="filter-floating-triggle hidden-phone"><i class="fa fa-filter"></i></div>
                                                                    </div>
                                                                    <!--End filter-->
                                                                    <div class="container-isotope" data-post="20140402-063639-867">
                                                                        <div id="isotope-load">
                                                                            <div class="ux-loading"></div>
                                                                            <div class="ux-loading-transform">
                                                                                <div class="loading-dot1">&nbsp;</div>
                                                                                <div class="loading-dot2">&nbsp;</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="isotope masonry isotope_fade" data-space="1px" data-size="brick" style="margin: -1px 0px 0px -1px;">
                                                                            <!--Item-->
                                                                            <div class="filter_architecture filter_blog filter_portfolio width-and-small isotope-item  brick-with-img">
                                                                                <div class="inside brick-inside post-bgcolor-default" style=" margin:1px 0 0 1px;">
                                                                                    <a href="content-portfolio-images-on-right.html" title="PORTFOLIO POST INFO LEFT" class="brick-link">
                                                                                        <div class="brick-hover-mask brick-hover">
                                                                                            <h3 class="brick-title">SALT</h3>
                                                                                        </div>
                                                                                        <div class="brick-content">
                                                                                            <img src="creatives/courtneybragg/projects/SALT/2.jpg" class="attachment-imagebox-thumb wp-post-image" alt="IMG_4783">
                                                                                        </div>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <!--Item-->
                                                                            <div class="filter_illustration filter_portfolio filter_uncategorized width-and-small isotope-item  brick-with-img">
                                                                                <div class="inside brick-inside bg-theme-color-10" style=" margin:1px 0 0 1px;">
                                                                                    <a href="content-portfolio-images-on-right.html" title="EXPIRED SHAPES" class="brick-link">
                                                                                        <div class="brick-hover-mask brick-hover">
                                                                                            <h3 class="brick-title">DUSK &amp; DAWN LOOKBOOK'16</h3>
                                                                                        </div>
                                                                                        <div class="brick-content">
                                                                                            <img src="creatives/courtneybragg/projects/DuskAndDawn/1.jpg" class="attachment-imagebox-thumb wp-post-image" alt="Expired-shapes-2">
                                                                                        </div>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <!--Item-->
                                                                            <div class="filter_branding filter_illustration filter_portfolio filter_slider filter_uncategorized width-and-small isotope-item  brick-with-img">
                                                                                <div class="inside brick-inside post-bgcolor-default" style=" margin:1px 0 0 1px;">
                                                                                    <a href="content-portfolio-images-on-right.html" title="PORTFOLIO POST FULLWIDTH" class="brick-link">
                                                                                        <div class="brick-hover-mask brick-hover">
                                                                                            <h3 class="brick-title">F*CK</h3>
                                                                                        </div>
                                                                                        <div class="brick-content">
                                                                                            <img src="creatives/courtneybragg/projects/F_CK/1.jpg" alt="Paper-Hot-Cup-Mock-Up-vol-2">
                                                                                        </div>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <!--Item-->
                                                                            <div class="filter_blog filter_illustration filter_portfolio filter_uncategorized width-and-small isotope-item  brick-with-img">
                                                                                <div class="inside brick-inside post-bgcolor-default" style=" margin:1px 0 0 1px;">
                                                                                    <a href="content-portfolio-images-on-left.html" title="HIPSTER WIZARD" class="brick-link">
                                                                                        <div class="brick-hover-mask brick-hover">
                                                                                            <h3 class="brick-title">Death by dagger</h3>
                                                                                        </div>
                                                                                        <div class="brick-content"> 
                                                                                            <img src="creatives/courtneybragg/projects/DeathByDagger/1.jpg" class="attachment-imagebox-thumb wp-post-image" alt="Hipster-Wizard-0">
                                                                                        </div>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <!--Item-->
                                                                            <div class="filter_blog filter_branding filter_portfolio filter_uncategorized width-and-height isotope-item  brick-with-img">
                                                                                <div class="inside brick-inside post-bgcolor-default" style=" margin:1px 0 0 1px;">
                                                                                    <a href="content-portfolio-fullwidth.html" title="FULLWIDTH PORTFOLIO POST SLIDER" class="brick-link">
                                                                                        <div class="brick-hover-mask brick-hover">
                                                                                            <h3 class="brick-title">RANDOM ART</h3>
                                                                                        </div>
                                                                                        <div class="brick-content"> 
                                                                                            <img src="creatives/daynamcc/projects/audrey.jpg" class="attachment-image-thumb-2 wp-post-image" alt="Perspective-App-Screen-Presentation-MockUp">
                                                                                        </div>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <!--Item-->
                                                                            <div class="filter_illustration filter_portfolio filter_uncategorized width-and-small isotope-item  brick-with-img">
                                                                                <div class="inside brick-inside post-bgcolor-default" style=" margin:1px 0 0 1px;">
                                                                                    <a href="content-portfolio-fullwidth.html" title="FULLWIDTH PORTFOLIO POST SLIDER" class="brick-link">
                                                                                        <div class="brick-hover-mask brick-hover">
                                                                                            <h3 class="brick-title">Ralph Hotere: Black Light</h3>
                                                                                        </div>
                                                                                        <div class="brick-content"> 
                                                                                            <img src="creatives/courtneybragg/projects/RalphHotereBlackLight/3.jpg" class="attachment-imagebox-thumb wp-post-image" alt="Paper-Hot-Cup-Mock-Up-vol-0">
                                                                                        </div>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <!--Item-->
                                                                            <div class="filter_blog filter_branding filter_portfolio filter_uncategorized width-and-long isotope-item  brick-with-img">
                                                                                <div class="inside brick-inside post-bgcolor-default" style=" margin:1px 0 0 1px;">
                                                                                    <a href="content-portfolio-images-on-right.html" title="LONG TEXT CONTENT ON LEFT" class="brick-link">
                                                                                        <div class="brick-hover-mask brick-hover">
                                                                                            <h3 class="brick-title">LONG TEXT CONTENT ON LEFT</h3>
                                                                                        </div>
                                                                                        <div class="brick-content"> 
                                                                                            <img src="creatives/daynamcc/projects/cranberry.jpg" class="attachment-imagebox-thumb wp-post-image" class="attachment-standard-blog-thumb wp-post-image" alt="Creative_Business_Card_Vol03_1">
                                                                                        </div>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <!--Item-->
                                                                            <div class="filter_blog filter_photography-2 filter_portfolio filter_slider filter_uncategorized width-and-big isotope-item  brick-with-img">
                                                                                <div class="inside brick-inside post-bgcolor-default" style=" margin:1px 0 0 1px;">
                                                                                    <a href="content-portfolio-slider.html" title="ATMOSPHERE" class="brick-link">
                                                                                        <div class="brick-hover-mask brick-hover">
                                                                                            <h3 class="brick-title">ATMOSPHERE</h3>
                                                                                        </div>
                                                                                        <div class="brick-content"> 
                                                                                            <img src="creatives/daynamcc/projects/symba.jpg" class="attachment-image-thumb-1 wp-post-image" alt="mikkolagerstedt_detour">
                                                                                        </div>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <!--Item-->
                                                                            <div class="filter_blog filter_branding filter_illustration filter_portfolio filter_uncategorized width-and-small isotope-item  brick-with-img">
                                                                                <div class="inside brick-inside post-bgcolor-default" style=" margin:1px 0 0 1px;">
                                                                                    <a href="content-portfolio-images-on-left.html" title="TRIVALENT BRAND IDENTITY" class="brick-link">
                                                                                        <div class="brick-hover-mask brick-hover">
                                                                                            <h3 class="brick-title">TRIVALENT BRAND IDENTITY</h3>
                                                                                        </div>
                                                                                        <div class="brick-content"> 
                                                                                            <img src="creatives/daynamcc/projects/arielfinal.jpg" class="attachment-imagebox-thumb wp-post-image" alt="Trivalent Brand Identity 01">
                                                                                        </div>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <!--Item-->
                                                                            <div class="filter_blog filter_illustration filter_portfolio filter_uncategorized width-and-small isotope-item  brick-with-img">
                                                                                <div class="inside brick-inside post-bgcolor-default" style=" margin:1px 0 0 1px;">
                                                                                    <a href="content-portfolio-slider.html" title="REACCIONES." class="brick-link">
                                                                                        <div class="brick-hover-mask brick-hover">
                                                                                            <h3 class="brick-title">REACCIONES.</h3>
                                                                                        </div>
                                                                                        <div class="brick-content"> 
                                                                                            <img src="creatives/daynamcc/projects/mrcarter.jpg" class="attachment-imagebox-thumb wp-post-image" alt="Reacciónes 2">
                                                                                        </div>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <!--Item-->
                                                                            <div class="filter_blog filter_illustration filter_portfolio filter_uncategorized width-and-small isotope-item  brick-with-img">
                                                                                <div class="inside brick-inside bg-theme-color-10" style=" margin:1px 0 0 1px;">
                                                                                    <a href="content-portfolio-images-on-left.html" title="GAME CHANGERS" class="brick-link">
                                                                                        <div class="brick-hover-mask brick-hover">
                                                                                            <h3 class="brick-title">GAME CHANGERS</h3>
                                                                                        </div>
                                                                                        <div class="brick-content"> 
                                                                                            <img src="creatives/daynamcc/projects/muhammad.jpg" class="attachment-imagebox-thumb wp-post-image" alt="Game-Changers-1">
                                                                                        </div>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <!--Item-->
                                                                            <div class="filter_blog filter_illustration filter_portfolio filter_uncategorized width-and-big isotope-item  brick-with-img">
                                                                                <div class="inside brick-inside post-bgcolor-default" style=" margin:1px 0 0 1px;">
                                                                                    <a href="content-portfolio-images-on-left.html" title="MASONRY PORTFOLIO WITH RIGHT SIDEBAR" class="brick-link">
                                                                                        <div class="brick-hover-mask brick-hover">
                                                                                            <h3 class="brick-title">MASONRY PORTFOLIO WITH RIGHT SIDEBAR</h3>
                                                                                        </div>
                                                                                        <div class="brick-content"> 
                                                                                            <img src="creatives/daynamcc/projects/jade.jpg" class="attachment-image-thumb-1 wp-post-image" alt="Twin-Peaks-tribute-Character-design">
                                                                                        </div>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <!--Item-->
                                                                            <div class="filter_illustration filter_portfolio filter_slider width-and-small isotope-item  brick-with-img">
                                                                                <div class="inside brick-inside post-bgcolor-default" style=" margin:1px 0 0 1px;">
                                                                                    <a href="content-portfolio-images-on-right.html" title="VERTICAL LIST PORTFOLIO LEFT CONTENT" class="brick-link">
                                                                                        <div class="brick-hover-mask brick-hover">
                                                                                            <h3 class="brick-title">VERTICAL LIST PORTFOLIO LEFT CONTENT</h3>
                                                                                        </div>
                                                                                        <div class="brick-content"> 
                                                                                            <img src="creatives/daynamcc/projects/cara.jpg" class="attachment-imagebox-thumb wp-post-image" alt="didelis-web2">
                                                                                        </div>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <!--Item-->
                                                                            <div class="filter_illustration filter_portfolio width-and-small isotope-item  brick-with-img">
                                                                                <div class="inside brick-inside post-bgcolor-default" style=" margin:1px 0 0 1px;">
                                                                                    <a href="content-portfolio-images-on-left.html" title="SLIDER PORTFOLIO WITH RIGHT SIDEBAR" class="brick-link">
                                                                                        <div class="brick-hover-mask brick-hover">
                                                                                            <h3 class="brick-title">SLIDER PORTFOLIO WITH RIGHT SIDEBAR</h3>
                                                                                        </div>
                                                                                        <div class="brick-content"> 
                                                                                            <img src="https://static.pexels.com/photos/4439/city-art-graffiti-wall.jpg" class="attachment-imagebox-thumb wp-post-image" alt="London Market illustrated 1">
                                                                                        </div>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <!--Item-->
                                                                            <div class="filter_blog filter_illustration filter_portfolio width-and-small isotope-item  brick-with-img">
                                                                                <div class="inside brick-inside post-bgcolor-default" style=" margin:1px 0 0 1px;">
                                                                                    <a href="content-portfolio-slider.html" title="MOVEMBER" class="brick-link">
                                                                                        <div class="brick-hover-mask brick-hover">
                                                                                            <h3 class="brick-title">MOVEMBER</h3>
                                                                                        </div>
                                                                                        <div class="brick-content"> 
                                                                                            <img src="https://static.pexels.com/photos/6739/art-graffiti-abstract-vintage.jpg" class="attachment-imagebox-thumb wp-post-image" alt="Short Film Poster Design 1">
                                                                                        </div>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <!--Item-->
                                                                            <div class="filter_branding filter_illustration filter_portfolio width-and-small isotope-item brick-with-img">
                                                                                <div class="inside brick-inside bg-theme-color-10" style=" margin:1px 0 0 1px;">
                                                                                    <a href="content-portfolio-fullwidth.html" title="PORTFOLIO WITH VERTICAL LIST" class="brick-link">
                                                                                        <div class="brick-hover-mask brick-hover">
                                                                                            <h3 class="brick-title">PORTFOLIO WITH VERTICAL LIST</h3>
                                                                                        </div>
                                                                                        <div class="brick-content"> 
                                                                                            <img src="https://static.pexels.com/photos/19672/pexels-photo.jpg" class="attachment-imagebox-thumb wp-post-image" alt="BS001">
                                                                                        </div>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <!--Item-->
                                                                            <div class="filter_branding filter_portfolio filter_uncategorized width-and-small isotope-item  brick-with-img">
                                                                                <div class="inside brick-inside post-bgcolor-default" style=" margin:1px 0 0 1px;">
                                                                                    <a href="content-portfolio-fullwidth.html" title="FULLWIDTH PORTFOLIO" class="brick-link">
                                                                                        <div class="brick-hover-mask brick-hover">
                                                                                            <h3 class="brick-title">FULLWIDTH PORTFOLIO</h3>
                                                                                        </div>
                                                                                        <div class="brick-content"> 
                                                                                            <img src="https://static.pexels.com/photos/16516/pexels-photo.jpg" class="attachment-imagebox-thumb wp-post-image" alt="Tracks 05">
                                                                                        </div>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--End container-isotope-->
                                                                </div>
                                                                <!--End row-fluid-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!--End content-wrap-inn-->
                                </div>
                                <!--end content_wrap-->
                            </div>
                        </div>
                        <!--end post-->

                        <!--<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"> </script>
                        <script type="text/javascript" src="assets/js/bootstrap.js"></script>
                        <script type="text/javascript" src="assets/js/lightbox/js/lightbox.min.js"></script>
                        <script type="text/javascript" src="assets/js/waypoints.min.js"></script>
                        <script type="text/javascript" src="assets/js/jquery.flexslider-min.js"></script>
                        <script type="text/javascript" src="assets/js/jquery.jplayer.min.js"></script>
                        <script type="text/javascript" src="assets/js/jquery.gray.min.js"></script>
                        <script type="text/javascript" src="assets/js/main.js"></script>
                        <script type="text/javascript" src="assets/js/custom.theme.isotope.js"></script>
                        <script type="text/javascript" src="assets/js/custom.theme.js"></script>
                        <script type="text/javascript" src="assets/js/theme.pagebuilder.js"></script>
                        <script type="text/javascript" src="assets/js/infographic.js"></script>

                        <script src="assets/owl-carousel/owl.carousel.js"></script>-->

                        <script type="text/javascript" src="assets/js/custom.theme.isotope.js"></script>
                        <script type="text/javascript" src="assets/js/custom.theme.js"></script>
                        <script type="text/javascript" src="assets/js/theme.pagebuilder.js"></script>

                        <script type="text/javascript">
                            jQuery(document).ready(function() {
                                var ux_pb = new ThemePageBuilder();
                                ux_pb.init();
                            });
                            // window.onload = function() {
                            //     if(!window.location.hash) {
                            //         window.location = window.location + '#loaded';
                            //         window.location.reload();
                            //     }
                            // }
                            window.onload = function () {
                                if (! localStorage.justOnce) {
                                    localStorage.setItem("justOnce", "true");
                                    window.location.reload();
                                }
                            }
                        </script>
